* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
}

html,
body {
    width: 100%;
    height: 100%;
}   

body {
    display: flex;
    flex-direction: column;
    background: url(../style/img/bg.jpeg), #0f141c;
    font-family: 'Caveat', cursive;
}

h1, h2 {
    text-wrap: balance;
    width: max-content;
    margin: auto;
    color: aliceblue;
}

h1 {font-size: 45px;}

header {
    padding: 10px 25px;
}

main {
    flex: 1 1 auto;
}

